<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 Harald Jagenteufel.
  ~
  ~ This file is part of push-relay.
  ~
  ~     push-relay is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     push-relay is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with push-relay.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.sbaresearch.microg.adapter.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="at.sbaresearch.android.c2dm.permission.RECEIVE" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="at.sbaresearch.microg.adapter.sample.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="at.sbaresearch.microg.adapter.library.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="at.sbaresearch.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="at.sbaresearch.android.c2dm.intent.RECEIVE"/>
                <category android:name="at.sbaresearch.microg.adapter.sample"/>
            </intent-filter>
        </receiver>
        <service
                android:name="at.sbaresearch.microg.adapter.sample.GcmTestService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="at.sbaresearch.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!--
        <service
                android:name="com.example.MyInstanceIDListenerService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        -->
    </application>

</manifest>