<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.sbaresearch.microg.adapter.sample">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="at.sbaresearch.microg.adapter.sample.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name="at.sbaresearch.microg.adapter.library.gms.gcm.GcmReceiver"
                android:exported="true"
                android:permission="at.sbaresearch.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="at.sbaresearch.android.c2dm.intent.RECEIVE"/>
                <category android:name="at.sbaresearch.microg.adapter.sample.microgadapter"/>
            </intent-filter>
        </receiver>
        <service
                android:name="at.sbaresearch.microg.adapter.sample.GcmTestService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="at.sbaresearch.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!--
        <service
                android:name="com.example.MyInstanceIDListenerService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        -->
    </application>

</manifest>