<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.sbaresearch.microg.adapter.backend">

    <permission
        android:name="at.sbaresearch.android.c2dm.permission.RECEIVE"
        android:label="@string/perm_c2dm_receive_label"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal"/>
    <permission-group
        android:name="at.sbaresearch.android.permission-group.PUSH"
        android:description="@string/permlab_group_push"
        android:label="@string/permlab_group_push"/>
    <permission
        android:name="at.sbaresearch.android.c2dm.permission.SEND"
        android:label="@string/permlab_send_push"
        android:description="@string/permdesc_send_push"
        android:permissionGroup="at.sbaresearch.android.permission-group.PUSH"
        android:protectionLevel="dangerous" />
    <permission
        android:name="at.sbaresearch.android.c2dm.permission.CONNECT"
        android:label="@string/permlab_connect_push"
        android:description="@string/permdesc_connect_push"
        android:permissionGroup="at.sbaresearch.android.permission-group.PUSH"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="at.sbaresearch.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="at.sbaresearch.android.c2dm.permission.SEND"/>
    <uses-permission android:name="at.sbaresearch.android.c2dm.permission.CONNECT"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- TODO set android:persistent="true" ? -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="at.sbaresearch.microg.adapter.backend.PushNotifyActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="at.sbaresearch.microg.adapter.backend.gms.ui.AskPushPermission"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>


        <receiver
            android:name="at.sbaresearch.microg.adapter.backend.MqttBackendReceiver"
            android:exported="true"
            android:permission="at.sbaresearch.android.gcm.mqtt.intent.SEND">
            <intent-filter>
                <action android:name="at.sbaresearch.android.gcm.mqtt.intent.RECEIVE"/>
                <!-- TODO change package name for intent receiver? -->
                <category android:name="at.sbaresearch.microg.adapter.backend"/>
            </intent-filter>
        </receiver>
        <receiver android:name="at.sbaresearch.microg.adapter.backend.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!--
        <service
            android:name=".BackendReceiverService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="at.sbaresearch.android.gcm.mqtt.intent.RECEIVE"/>
            </intent-filter>
        </service>
        -->

        <service
            android:name="at.sbaresearch.microg.adapter.backend.registration.app.RegisterAppService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name="at.sbaresearch.microg.adapter.backend.registration.app.RegisterAppReceiver"
            android:permission="at.sbaresearch.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="at.sbaresearch.android.c2dm.intent.REGISTER" />
                <action android:name="at.sbaresearch.android.c2dm.intent.UNREGISTER" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="com.google.iid.TOKEN_REQUEST"/>
            </intent-filter>
            -->
        </receiver>

        <service android:name=".gms.gcm.McsService"/>
        <service android:name=".registration.device.RegisterDeviceService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".BootBroadcastReceiverService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="at.sbaresearch.microg.adapter.backend.gms.gcm.SendReceiver"
            android:permission="at.sbaresearch.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="at.sbaresearch.android.gcm.intent.SEND"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>